.sign-up-page-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 100%;
  min-height: 100vh;

  .image-container {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: #fff;
      font-size: 4rem;
      font-weight: 600;
      transform: rotate(-90deg);
      white-space: nowrap;
    }
  }

  .form-container {
    grid-column: 6 / span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 3rem;
      font-weight: 400;
    }

    .form-subheading {
      font-size: 1.5rem;
      font-weight: 300;
      color: #a5a5a5;
      margin-top: 6px;
    }

    .form-input-container {
      display: grid;
      gap: 22px;
      margin-top: 44px;

      .submit-button {
        margin-top: 8px;
        padding: 17px 48px;
        width: min-content;
        border: none;
        background: #a5a5a5;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 600;
      }
    }

    .login-page-link-text {
      margin-top: 30px;
      font-size: 1.125rem;
      font-weight: 400;
      color: #272727;

      a {
        color: #56cc6a;
        text-decoration: none;
      }
    }
  }
}
